.exercises-list {
    display: grid;
    gap: clamp(1rem, 3vw, 2rem);
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.exercises-list__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exercises-list__line button {
    padding: 1rem;
    border-radius: 15px;
    font-size: 0;
}

@media (max-width: 369px) {
    .exercises-list {
        grid-template-columns: 1fr;
    }
}