:root {
    --color-panels: #000;
    --color-panels-hover: #263758;
    --color-complementary: #5285D8;
    --color-font-contrast: #FFF;
    --color-accent-gray: #E5E4E4;
    --color-accent-dark: #aaaaaa;
}